*{
    margin: 0;
    padding: 0;
    font-family: Teko, sans-serif;
}
body{
    background: url('background.jpg') center;
    height: 100vh;
    width: 100vw;
    background-size: cover;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgba(0,0,0,.5);
}
.logo{
    color: #DC143C;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.nav-links li{
    list-style: none;
}

.nav-links a{
    color: #DC143C;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}
.burger div{
    width: 25px;
    height: 5px;
    background-color: #DC143C;
    margin: 5px;
}
h1{
    font-size: 35px;;
    font-weight: bold;
    color: #FFFFFF;
    position: absolute;
    left: 50%;
    top: 10%;
    margin-left: -55px;
}
.sep1 {
    position: absolute;
    height: 1px;
    background: #DC143C;
    width: 370px;
    top: 9%;
    left: 50%;
    margin-left: -185px;
}
.sep2 {
    position: absolute;
    height: 1px;
    background: #dc143c;
    width: 370px;
    top: 15%;
    left: 50%;
    margin-left: -185px;
}
.cover2 {
    position: absolute;
    width: 516px;
    height: 516px;
    max-width: 516px;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    padding: 80px 40px;
}