<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      lang="en"
>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Righteous&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{assets/css/contact.css}" type="text/css"/>
    <link rel="shortcut icon" th:href="@{assets/favicon.png}" type="image/x-icon">

    <title>EnRoute - Contact</title>
</head>
<nav>
    <div class="logo">
        <h4>En Route</h4>
    </div>
    <ul class="nav-links">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="about.html">About</a>
        </li>
        <li>
            <a href="prices.html">Prices</a>
        </li>
        <li>
            <a href="contact.html">Contact</a>
        </li>
    </ul>
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</nav>
<body>
    <div class="sep1"></div>
        <h1>Contact</h1>
    <div class="sep2"></div>
    <div class="cover2">
        <h3>Correspondence address</h3>
        <h2>NIP: XXXXXXXXXX</h2>
        <h2>EnRoute sp. z o.o.</h2>
        <h2>AKADEMIA WSB</h2>
        <h2>Zygmunta Cieplaka 1c, 41-300 Dąbrowa Górnicza</h2>
        <h3>CIESZYN OFFICE</h3>
        <h2>Frysztacka 44, 43-400 Cieszyn</h2>
        <h3>Phone</h3>
        <h2>XXX XXX XXX</h2>
        <h2>XXX XXX XXX</h2>
        <h2>mon. - fri. 7:00 - 22:00, sat. 8:00 - 20:00</h2>
        <h2>sundays 8:00 - 18:00 (for the Parcel Locker service)</h2>
        <h2>holidays 8:00 - 16:00 (for the Parcel Locker service)</h2>
    </div>
</body>
</html>