<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EnRoute - Help</title>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Righteous&display=swap" rel="stylesheet">
    <link rel="icon" href="favicon.ico">
    <link rel="shortcut icon" href="favicon.ico" type="imag/x-icon">
    <link rel="stylesheet" href="./../../webapp/resources/theme1/css/help.css">
</head>
<body>
    <h1>h3lp m3, 1'm dy1n6 wh3n 1'm l00k1n6 47 7h15 c0d3 :(</h1>
</body>
</html>