<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      lang="en">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <title>EnRoute</title>
    <link rel="stylesheet" th:href="@{assets/css/home.css}" type="text/css"/>
    <link rel="shortcut icon" th:href="@{assets/favicon.png}" type="image/x-icon">


</head>

<body>

    <h1>Welcome!</h1>

    <p>Click <a th:href="@{/login}">here</a> to log in.</p>
</body>
</html>