<!DOCTYPE HTML>
<html
        lang="en"
        xmlns:th="http://www.w3.org/1999/xhtml"
>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EnRoute - Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Righteous&display=swap" rel="stylesheet">
    <link rel="icon" href="../static/favicon-32x32.ico">
    <link rel="shortcut icon" th:href="@{/static/favicon.ico}" type="imag/x-icon">
    <link rel="stylesheet" th:href="@{/static/css/index.css}" >

</head>
<body>
<p>Click <a th:href="@{/login}">here</a> to log in.</p>
</body>
</html>