<!DOCTYPE HTML>
<html
lang="en"

>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EnRoute - Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Righteous&display=swap" rel="stylesheet">
    <link rel="icon" href="favicon.ico">
    <link rel="shortcut icon" href="favicon.ico" type="imag/x-icon">
    <link rel="stylesheet" href="index.css">
</head>
<body>
<p>Log in <a href="/login">here</a></p>
</body>
</html>