<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.w3.org/1999/xhtml"
>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EnRoute</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Righteous&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{assets/css/index.css}" type="text/css"/>
    <link rel="shortcut icon" th:href="@{assets/favicon.png}" type="image/x-icon">

</head>
<body>
    <div id="wrapper">
        <header>
        </header>
        <nav>
            <a class="menu active" href="#">ABOUT US</a><a class="menu" href="#">SETTINGS</a><a class="menu" href="#">MAP</a><a class="menu" href="#">CONTACT</a>
        </nav>
    </div>
</body>
</html>