<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"



      lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" th:href="@{/css/login.css}" rel="stylesheet" />
    <link href="favicon.ico" rel="icon" type="image/x-icon">
    <title>EnRoute - Login</title>
</head>
<body>
    <div class=container>
        <h1>Sign In</h1>
        <div class="sep">
            <p th:if="${loginError}" class="error">Wrong user or password</p>
            <form th:action="@{/login}" method="post">
                <div class="inputs">
                    <label for="username"></label>:
                    <input type="text" id="username" name="username" autofocus="autofocus" placeholder="USERNAME"/> <br />
                    <label for="password"></label>:
                    <input type="password" id="password" name="password" placeholder="PASSWORD"/> <br />
                    <div class="remember">
                        <input name="cecky" id="checky" value="1" type="checkbox" />
                        <label class="terms">REMEMBER ME</label>
                    </div>
                    <input type="submit" value="LOGIN" />
                </div>
            </form>
        </div>
    </div>
</body>
</html>