<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/login.css}"/>

    <title>Login page</title>
</head>
<body>
<h1>Login page</h1>
<p class="error" th:if="${loginError}">Wrong user or password</p>
<form method="post" th:action="@{/login}">
    <label for="username">Username</label>:
    <input autofocus="autofocus" id="username" name="username" type="text"/> <br/>
    <label for="password">Password</label>:
    <input id="password" name="password" type="password"/> <br/>
    <input type="submit" value="Log in"/>
</form>
</body>
</html>