<!DOCTYPE html>
<html
        xmlns:th="http://www.w3.org/1999/xhtml"
        lang="en"
>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Map</title>
    <link rel="stylesheet" th:href="@{assets/css/map.css}" type="text/css"/>
    <link rel="shortcut icon" th:href="@{assets/favicon.png}" type="image/x-icon">
</head>

<body>
    <div id="wrapper">
        <div class="sep"></div>
        <div class="header"> <h1>FIND  A  ENLOCKER</h1></div>
        <div class="sep2"></div>
        <div class="section"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2577.556485808925!2d18.623884115848504!3d49.75678834498227!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471403fdefccb5b7%3A0x1a7a93661fe99d29!2sAkademia%20WSB%20Wydzia%C5%82%20Zamiejscowy%20w%20Cieszynie!5e0!3m2!1spl!2spl!4v1589730368779!5m2!1spl!2spl" width="100%" height="750" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div>

        <div class="footer"></div>
    </div>
</body>
</html>