<!DOCTYPE html>

<html
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>

    <link rel="stylesheet" th:href="@{assets/css/userInfo.css}" type="text/css"/>
    <link rel="shortcut icon" th:href="@{assets/favicon.png}" type="image/x-icon">

    <title>EnRoute - UserInfo</title>
</head>
<body>
<header>
    <h2>Spring Secured App</h2>
    <p>app content ......... at uri <span th:text="${uri}"/></p>
    <p>User: <span th:text="${user}"/></p>
    <p>Roles: <span th:text="${roles}"/></p>
    <br/>
    <form action="/logout" method="post">
        <input type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}"/>
        <input type="submit" value="Logout">
    </form>
</header>
</body>
</html>